<header>
  <div class="container">
  <li>
    <h3><a routerLink='/' class="logo">CoolApp</a></h3>
    <nav>
      <button style="background-color:#9167CA ; border-color: grey; float:Right;"><a href="#" routerLink='/'>Home</a>
      </button>
        <button style="background-color:#9167CA ; border-color: grey;"><a href="#" routerLink='/json'>Json</a> </button>
        <button style="background-color:#9167CA ; border-color: grey;"><a href="#" routerLink='/child' >child</a> </button>
        <button style="background-color:#9167CA ; border-color: grey;"><a href="#" routerLink='/tile' >tile</a> </button>
    </nav> 
  </li>
</div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<body>
  <mat-slider min="0" max="100" step="1" value="0" (input) = 'onInputChange($event)'></mat-slider>
<button style="background-color:#9167CA ; border-color: grey;" (click)="slicedata()" >Get data</button>
<ul *ngFor="let d of z">
  <li>{{d.id}}</li>
  <li>{{d.title}}</li>
  <li>{{d.body}}</li>
</ul>
</body>